
    	
	    .msg_bbl {
	        /* background-color: #ddd; */
	        padding: 5px 10px;
	        border-radius: 10px;
	        margin: 5px 0;
	    }
	    .msg_bbl.user {
	        background-color: rgb(210, 236, 238);
	    }
	    .msg_bbl.bot {
	        background-color: rgb(238, 210, 210);
	    }
	    .playAudio {
	        color: black;
	    }
	    .playAudio:hover {
	        color: black;
	        text-decoration: none;
	    }
